#ifndef HEADER_BLACS_H
#define HEADER_BLACS_H

#include <mpi.h>
#include "scalapack_config.h"

/* Declarations
 */
{%- for declaration in declarations_f %}
{{ declaration.to_extern_c_decl() }}
{%- endfor %}

#endif // HEADER_BLACS_H