#ifndef HEADER_BLACS_H
#define HEADER_BLACS_H

#include <mpi.h>

/* defines
 */
{%- for i, f in defines %}
#ifndef {{ i }}
#define {{ i }} {{ f }}
#endif // {{ i }}
{% endfor %}

/* Declarations
 */
{%- for declaration in declarations_f %}
{{ declaration.to_extern_c_decl() }}
{%- endfor %}

#endif // HEADER_BLACS_H