#ifndef HEADER_SCALAPACKE_H
#define HEADER_SCALAPACKE_H

#include <scalapack.h>

/* Declarations
 */
{%- for declaration in declarations_f %}
{{ declaration.to_aliased_decl() }}
{%- endfor %}

#endif // HEADER_SCALAPACKE_H