#ifndef HEADER_SCALAPACK_H
#define HEADER_SCALAPACK_H

#ifdef __cplusplus
extern "C" {
#endif // __cplusplus

#include "scalapack_config.h"

/* Declarations
 */
{%- for declaration in declarations_f %}
{{ declaration.to_low_level_decl() }}
{%- endfor %}

#endif // HEADER_SCALAPACK_H