#ifndef HEADER_SCALAPACKE_PBLAS_H
#define HEADER_SCALAPACKE_PBLAS_H

#ifdef __cplusplus
extern "C" {
#endif // __cplusplus

#include "pblas.h"

/* Declarations
 */
{%- for declaration in declarations_f %}
{{ declaration.to_aliased_decl() }}
{%- endfor %}

#ifdef __cplusplus
}
#endif // __cplusplus

#endif // HEADER_SCALAPACKE_BLACS_H