#ifndef HEADER_SCALAPACK_H
#define HEADER_SCALAPACK_H

#include "scalapack_config.h"

/* Declarations
 */
{%- for declaration in declarations_f %}
{{ declaration.to_extern_c_decl() }}
{%- endfor %}

#endif // HEADER_SCALAPACK_H