#ifndef HEADER_SCALAPACKE_BLACS_H
#define HEADER_SCALAPACKE_BLACS_H

/* Header by {{ self_name }}
 * Generated: {{ current_time }}
 * Version {{ self_name }}: {{ self_repo_url }}tree/{{ self_commit }}
 * Version scalapack: {{ scalapack_repo_url }}tree/{{ scalapack_commit }}
 */

#include "blacs.h"

/* Declarations
 */
{%- for declaration in declarations_f %}
{{ declaration.to_aliased_decl() }}
{%- endfor %}
#endif // HEADER_SCALAPACKE_BLACS_H