#ifndef HEADER_SCALAPACK_H
#define HEADER_SCALAPACK_H

/* defines
 */
{%- for i, f in defines %}
#ifndef {{ i }}
#define {{ i }} {{ f }}
#endif // {{ i }}
{% endfor %}

/* Declarations
 */
{%- for declaration in declarations_f %}
{{ declaration.to_extern_c_decl() }}
{%- endfor %}
#endif // HEADER_SCALAPACK_H